.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 15px;

}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0% , #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px ;
    cursor: pointer;
}
.cat1 {
 background-image: linear-gradient(to bottom, #ff9c35 0%, #ffd019 100%);

}
.cat2{
 background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}
.cat3{
    background-image: linear-gradient(to bottom, #4289FF 0%,  #3F07F8 100%);
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
}